header {
    background-color: #633562;
    width: 100%;
    position:absolute;
    padding: -0.5%;
    margin-top: -0.5%;
    margin-left: -0.5%;
    margin-right: -0.5%;
    }
#floatRight {
    float: right;
    padding-right: 45%;
}

body {
    background-color:rgb(133, 110, 133);
    background-repeat: initial;
    background-size: 180%;
    color: #F9F871;
    text-align: center;
    line-height: 1.8;  
    }
/* did not work
.background {
    opacity: 0.5;
}
*/
main {
    padding-top: 10rem;
}    
img {
    max-width: 150px;
    height: 150px;
    padding-left: 5%;
    float: left;
    clear: left;
    }
div {
    text-align: center;  
    }
li {
    list-style-position: inside;
    }

    /*section*/
    #grid-floats li {
        display: inherit;
        float: left;
        margin: 1rem;
        width: 25%;

        border-style: ;
        border-radius: 2%;
        padding: 10px;
        background: rgb(83, 63, 83);
        opacity: 0.8;
    }
    
    /*#grid-floats img {
    height: 40%;
    }*/

p {
    text-align: center;
    
}
             /* unvisited link */
            a:link {
                color: #F9F871;
            }
            
            /* visited link */
            a:visited {
                color: #F9F871;
            }
            
            /* mouse over link */
            a:hover {
                color: orange;
            }
            
            /* selected link */
            a:active {
                color: yellow;
            } 
footer {
    background-color: #633562;
    width: 100%;
    position:bottom;
    padding: -0.5%;
    margin-top: -0.5%;
    margin-left: -0.5%;
    margin-right: -0.5%;
}