h1 {background-color: plum}

body {
    color: white;
    background-color: rgb(252, 181, 50);
    text-align: center;
    line-height: 1.8;    
    }
img {
    max-width: 150px;
    height: 150px;
    float: center;
    }
div {
    text-align: center;
    }