
/*my green was:
    rgb(2, 32, 17)*/
*/

html{
    background: transparent;
    margin: 10px;
    font-size: 1rem;
    color: black;
    font-family: 'Arial Narrow', Arial, sans-serif;
    display: block;
    
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
}
body {  
    background-size: 15rem 100rem;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}
header{
    display: block;
    padding-top: -1rem;
}
/*
.positions {
    display: flex;
}
/*fit into available space*/
/*.positions > div {
    flex: 1;
}*/

.positions {
    display: grid;
    grid-template-columns: 3fr 5fr 2fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
    padding-bottom: 5rem
}

/*showcase*/
.box1 {
    grid-column: 1;
    grid-row: 2;
}
/*p*/
.box2 {
    grid-column: 2 / 3;
    grid-row: 2;
}
/*no menu*/
.box4
{
    grid-column: 2 / 3;
    grid-row: 1;
}
/*art memes*/
.box5
{
    grid-column: 1;
    grid-row: 1;
}


/*Grids*/
h1 {
    margin: 1rem;
    font-size: 2,5rem;
    color: black;
}

/*Art Memes*/
h2 {
    font-family: 'Aktiv Grotesk W01 Bold', Arial, sans-serif;
    font-size: 1,5rem;
    font-weight: normal;

    display: inherit;
    margin: 3rem;
    color: rgb(40, 40, 40);
    border: 3rem;
    }

h3 {
    font-size: 1,5rem;
}
p {
    font-family: 'Aktiv Grotesk W01 Bold', Arial, sans-serif;
    font-size: 1,2rem;
    font-weight: normal;
    background: transparent;
    color: rgb(40, 40, 40);
    margin: 3rem;
    padding-left: 30 rem;
}

    #grid-floats li {
        display: inherit;
        float: left;
        margin: 0.2rem;
        padding: 0.5rem;
        width: 30%;
        height: 35rem;
        border-style: 0;
        border-radius: 0%;
        background: transparent;
    }
    #grid-floats img {
    height: 25rem;
    width: 25rem;
    }



    